.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  visibility: hidden;
  overflow: hidden; 
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
  opacity:0;
 
  .drawer {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction:column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

     h2  {
        margin: 0;
         img{
          cursor: pointer;
         }
      }
   
    .cartEmpty {
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding: 0 50px;

              h3 {
                margin-bottom: 10px;
               }
               p{
                 margin: 0 0 40px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #000000;
                opacity: 0.4;

               }
      
      .greenButton {
        position: relative;
        width: 245px;
        
           &:hover{
               img {
                  transform: translateX(7px);
                 }
               }
           
          
            img{
                position: absolute;
                left: 20px;
                top: 20px;
                transition: transform 0.2s ease-in-out;
                transform: rotate(180deg);              
              }     
             
          }
   }
    .CartItems{
      display: flex;
      flex-direction:column;
      height: 100%;

    .items{
      overflow: auto;
      margin-bottom: 40px;
      flex:1;
    }

   .cartItem{
     border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-item:center;
    margin-bottom: 20px;

      .cartIatemImg{
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-position:  0 5px;
        background-size: contain;
        margin-right: 10px;
      }
     
      p {
        font-size: 14px;
        margin: 0;
      }
      b{
        font-size: 16px;
      }
      .btnCartRemove{
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
        cursor: pointer;
           &:hover {
            opacity: 1;
           }
      }
    }
    .cartBlockBottom{
      p {
        margin: 0;
      }
      .lineDashed {
        height: 1px;
        flex:1;
        border-bottom: 1px dashed #DFDFDF;
        position: relative;
        top: -4px;
        margin: 0 6px;
      }
     
      .greenButton {
        position: relative;
        
           &:hover{
               img {
                  transform: translateX(7px);
                 }
               }  

              img{
                position: absolute;
                right: 15px;
                top: 20px;
                transition: transform 0.2s ease-in-out;
                
              }

      }
           

    }    


      
    }

  }


  
   .greenButton {
          width: 325px;
          height: 55px;
          border: none;
          background: #9DD558;
          border-radius: 18px;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          cursor: pointer;
          transition: backgroung 0.2s ease-in-out;
                    &:hover {
                      background: #9fed3d;
                    }
                    &:active {
                      background: #689b28
                    }
                     &:disabled {
                      background-color: #bebebe;
                      cursor: default;
                      animation: button-loading ease-in-out 0.8s infinite;
                     }  
        }
   @keyframes button-loading {
    0%{
      opacity: 1;
    }
    70% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
   }
}

.drawerVisibility{
    visibility: visible;
    opacity: 1;
    .drawer {
        transform: translateX(0);
    }
   }

