
* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;

}



.wrapper{
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
        max-width: 1080px;
        margin: 40px auto;
      }
        
  header{
    border-bottom: 1px solid #EAEAEA;
          div.header_left{
              img{
                margin-right: 16px;
              }
                  h2 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                    margin: 0;
                  }
                  p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #9D9D9D;
                    margin: 0;
                  }
          }
          ul.header_right {
            /* list-style: none; */
          
               li{
                 margin-right: 30px;
                    &:last-of-type {
                      margin-right: 0;
                    }
                    svg{
                      cursor: pointer;
                    }
                    span{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5C5C5C;
                    }
               }
          }
  }

  
    div.slider {
      margin: 45px 60px 40px 60px;
      background-color: #F4EFE9;
      border-radius: 10px;
      height: 300px;
           .slider_left_part{
           flex: 1 1 40%;
                img {
                  padding: 16px 200px 32px 20px;
                }
                .slider_info{
                  padding: 0 17px 52px 60px;
                       p{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 38px;
                        line-height: 46px;
                        color: #8BB43C;
                        margin-top: 0;
                        margin-bottom: 10.45px;
                            span{
                              color: black;
                            }
                       }
                       button {
                              background: #A5D364;
                              border-radius: 110px;
                              font-family: 'Inter';
                              font-style: normal;
                              font-weight: 700;
                              font-size: 16px;
                              line-height: 19px;
                              text-align: center;
                              text-transform: uppercase;
                              color: #FFFFFF;
                              padding:  14.6px 53px;
                              border: none;
                              cursor: pointer;
                       }
                }
           }
           .slider_right_part{
            flex: 1 1 60%;
           }
    }
    section.content{
      padding: 0 60px 30px 60px;
            h1{
              margin: 0;
              font-weight: 700;
              font-size: 32px;
              line-height: 39px;
              color: #000000;
             
            }
           
            .search-form {
                               
                border: 1px solid #F3F3F3;
                border-radius: 10px;
                padding: 0 18px;
               
                                 input {
                                  border: none;
                                  padding: 13px;
                                  font-size: 14px;
                                  font-weight: 400;
                                 }
               
            }            
                     .card {
                      max-width: 210px;
                      max-height: 260px;
                      box-sizing: border-box;
                      background: #FFFFFF;
                      border: 1px solid #F3F3F3;
                      border-radius: 40px;
                      padding: 20px 29px 34px 30px;
                      margin-bottom: 30px;
                      transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
                               &:hover{
                              box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.06);
                              transform: translateY(-5px); 
                             }

                                  img{
                                    position: relative;
                                    margin: 0 auto;

                                  }
                                  svg.icon_like{
                                    position: absolute;
                                    z-index: 1;
                                    cursor: pointer;
                                  }
                                  h3{
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #000000;
                                    margin: 14px 0;
                                }
  
                                          p{
                                            font-weight: 500;
                                            font-size: 11px;
                                            line-height: 13px;
                                            text-transform: uppercase;
                                            color: #BDBDBD;
                                            margin: 0;
                                                       span{
                                                          font-weight: 700;
                                                          font-size: 14px;
                                                          line-height: 17px;
                                                          color: #000000;
                                                         }
                                          }
                                          button{
                                          background: #FFFFFF;
                                          width: 32px;
                                          height: 32px;
                                          border: none;
                                          }
         
            }
    }

.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;

  .drawer {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;     
   .cartItem{
     border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

      .cartIatemImg{
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-position:  0 5px;
        background-size: contain;
      }
      h2  {
        margin: 0;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
      b{
        font-size: 16px;
      }
      .btnCartRemove{
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
        cursor: pointer;
           &:hover {
            opacity: 1;
           }
      }
    }

  }
}