
* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  overflow: auto;

}



.wrapper{
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
        max-width: 1080px;
        margin: 40px auto;

      }

            
section.content{
      padding: 0 60px 30px 60px;
            h1{
              margin: 0;
              font-weight: 700;
              font-size: 32px;
              line-height: 39px;
              color: #000000;
             
            }
           
            .search-form {
                               
                border: 1px solid #F3F3F3;
                border-radius: 10px;
                padding: 0 18px;
               
                                 input {
                                  border: none;
                                  padding: 13px;
                                  font-size: 14px;
                                  font-weight: 400;
                                 }
               
            }            

    }


