div.slider {
      margin: 45px 60px 40px 60px;
      background-color: #F4EFE9;
      border-radius: 10px;
      height: 300px;
      display: flex;
           .slider_left_part{
           flex: 1 1 40%;
                img {
                  padding: 16px 200px 32px 20px;
                }
                .slider_info{
                  padding: 0 17px 52px 60px;
                       p{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 38px;
                        line-height: 46px;
                        color: #8BB43C;
                        margin-top: 0;
                        margin-bottom: 10.45px;
                            span{
                              color: black;
                            }
                       }
                       button {
                              background: #A5D364;
                              border-radius: 110px;
                              font-family: 'Inter';
                              font-style: normal;
                              font-weight: 700;
                              font-size: 16px;
                              line-height: 19px;
                              text-align: center;
                              text-transform: uppercase;
                              color: #FFFFFF;
                              padding:  14.6px 53px;
                              border: none;
                              cursor: pointer;
                       }
                }
           }
           .slider_right_part{
            flex: 1 1 60%;
           }
    }